@font-face {
    font-family: 'Lobster';
    src: url('../police/Lobster-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #cca37b;
    font-family: 'Lobster';
    padding-left: 15px;
    padding-right: 15px;
}
.text-nav{
    font-family: 'Lobster';
}
.navbar img {
    height: 45px;
    width: auto;
    padding: 8px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.navbar a:hover{
    color: green;
    text-shadow: lightgreen 1px 0 20px;
}
.social a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:20%;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: .5s ease;
}
.social a:hover{
    background: lightgreen;
    box-shadow: 0 0 2rem lightgreen;
    opacity: 0.9;
}

/*Main*/
.presentation {
    margin: 20px;
    /* Margin around the content to prevent it from sticking to the edges */
    padding: 20px;
    /* Internal spacing to separate content from the borders */
    background-color: #cca37b;
    /* Background color to contrast with the content */
    border-radius: 8px;
    /* Rounded borders for a softer look */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow to highlight the section */
  }
  
  /* Styles for the paragraph inside the presentation */
  .presentation p {
    line-height: 1.6;
    /* Line spacing for better readability */
    font-size: 18px;
    /* Font size for the paragraph */
    color: #000000;
    /* Dark text color for legibility */
  }
  
  /* Styles for the header in the presentation */
  .titre h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #000;
  }
  
  .text {
    display: flex;
    justify-content: space-around;
  }
  
  .img img {
    display: flex;
    border: 2px solid black;
    height: 300px;
    width: 300px;
  }
  
  /* Responsive styles for smaller screens (tablets and phones) */
  @media screen and (max-width: 768px) {
    .presentation {
      margin: 10px;
      padding: 10px;
    }
    
    .titre h2 {
      font-size: 22px;
    }
    
    .text {
      gap: 10px;
    }
    
    .img img {
      display: none; /* Hide the image on smaller screens */
    }
  }

