@font-face {
    font-family: 'Lobster';
    src: url('../police/Lobster-Regular.ttf');
}

:root{
    --white:#fff;
    --black: #000;
    --brown: #cca37b;
    --green: green;
    --lightgreen: lightgreen;
    --darkgrey: #333;
    --grey: #666;
    --logo-brown: #42160b;
    --logo-yellow: #d8b64b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--white);
    color: white;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background:var(--white);
}

/*HEADER*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    font-family: 'Lobster';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--brown);
    padding: 0rem 9%; 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo img{
    height: 90px;
    width: 90px;
}

header .navbar a{
    font-size: 3rem;
    margin-left: 2rem;
    color: var(--white);
}

header .navbar a:hover{
    color: var(--green);
}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: var(--white);
    border: .1rem solid var(--white);
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}
/*HEADER END*/

/*SECTION HOME*/
section{
    padding: 2rem 9%;
}

.content span{
    color: var(--green);
}

.btn{
    display: inline-block;
    padding: .9rem 3rem;
    border: .2rem solid var(--logo-yellow);
    background: var(--logo-yellow);
    color: var(--logo-brown);
    font-family: 'Lobster';
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn:hover{
    color: var(--white);
    font-weight: bold;
    transition: .3s smooth;
    background: var(--logo-brown);
}

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(../img/food-bgv3.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.home .image{
    flex: 1 1 40rem;
}

.home .image img{
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--black);
    background: var(--white);
}

.home .content h3{
    font-size: 5rem;
    color: var(--darkgrey);
    font-family: 'Lobster';
}

.home .content p{
    font-size: 1.8rem;
    color: var(--grey);
    padding: 1rem 0;
}
/*SECTION HOME END*/

/*SPECIALITY "Menu v1"*/
.heading{
    text-align: center;
    font-family: 'Lobster';
    font-size: 3.5rem;
    padding: 1rem;
    color: var(--grey);
}

.heading span{
    color: var(--green);
}

.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.speciality .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
}

.speciality .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.speciality .box-container .box .content{
    text-align: center;
    background: var(--white);
    padding: 2rem;
}

.speciality .box-container .box .content img{
    height: 60px;
    width: auto;
    margin: 1.5rem 0;
}

.speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--darkgrey);
}

.speciality .box-container .box .content p{
    font-size: 1.6rem;
    color: var(--grey);
    padding: 1rem 0;
}

.speciality .box-container .box:hover .image{
    top: 0;
}

.speciality .box-container .box:hover .content{
    transform: translateY(100%);
}
/*SPECIALITY "Menu v1" END*/

/*SPECIALITY "Menu v2"*/
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.popular .box-container .box{
    padding: 2rem;
    background: var(--white);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
}

.popular .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}

.popular .box-container .box .btn{
    background: var(--logo-brown);
    color: var(--white);
    font-size: 3rem;
    border: 2px solid var(--logo-yellow);
    font-family: 'Lobster';
    padding: .5rem 3rem;
    border-radius: .5rem;
}

.popular .box-container .box h3{
    color: var(--darkgrey);
    font-size: 2.5rem;
    padding-top: 1rem;
}

.popular .box-container .box p{
    font-size: 1.6rem;
    color: var(--grey);
    padding: 1rem 0;
}
/*SPECIALITY "Menu v2" END*/

/*SPECIALITY "Menu v3"*/
.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box{
   height: 35rem;
   flex: 1 1 30rem;
   border: 1rem solid var(--white);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border-radius: .5rem;
   position: relative;
   overflow: hidden; 
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .btn{
    background: var(--logo-brown);
    color: var(--white);
    font-size: 3rem;
    border: 2px solid var(--logo-yellow);
    font-family: 'Lobster';
    padding: .5rem 3rem;
    border-radius: .5rem;
}

.gallery .box-container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.gallery .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--darkgrey);
}

.gallery .box-container .box .content p{
    font-size: 1.7rem;
    color: var(--grey);
    padding: 1rem 0;
}
.gallery .box-container .box:hover .content{
    top: 0;
}
/*SPECIALITY "Menu v3" END*/

/*SCROLL TOP BTN*/
#scroll-top{
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: .5rem 1.5rem;
    font-size: 4rem;
    background: var(--white);
    border: 2px solid var(--logo-yellow);
    color: var(--logo-brown);
    border-radius: 50%;
    transition: 1s smooth;
}

#scroll-top.active{
    top: calc(100% - 12rem);
}
/*SCROLL TOP BTN END*/






























/*RESPONSIVE*/
@media(max-width: 991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 0rem 2%;
    }
}

@media(max-width: 768px){
    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0,0,0,.1);
        border-radius: 4px;
        border-top: .5rem solid var(--logo-brown);
        background: var(--brown);
    }
}

@media(max-width: 400px){
    html{
        font-size: 50%;
    }
}
/*RESPONSIVE END*/
